[Plugin]
Module=exiv2_rating
IAge=3
Name=exiv2 XMP Rating
Icon=view-refresh
Description=Add/Remove EXIF XMP Rating  REPLACE_ME_VERSION
Authors=Ray Fung
Copyright=Copyright © REPLACE_ME_DATE Ray Fung
Website=https://github.com/whatdoineed2do/eog-plugin-exif-rating-raw-viewer
